@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Roboto:wght@400;700;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  /*---fonts--*/
}
:root {
  --clr-yellow: #BCAF9C;
  --clr-blue:#041636;
  --fnt-primary:"Libre Baskerville", serif;
  --fnt-secondary: "Roboto", sans-serif;
  --trnsition:500ms ease-in-out;
}

h1 {
  color: #ffffff;
  font-size: 68px;
  margin-bottom: 40px;
  font-family: var(--fnt-primary);
  font-style: italic;
}

h4 {
  color: var(--clr-yellow);
  font-family: var(--fnt-primary);
  font-size: 50px;
}

h2 {
  font-family: var(--fnt-primary);
  font-style: italic;
  font-size: 68px;
  color: var(--clr-blue);
}

.header__top {
  background-color: var(--clr-yellow);
  color: white;
  font-family: var(--fnt-secondary);
  font-weight: bolder;
  font-size: 0.8rem;
  padding: 1.5em;
  position: relative;
  z-index: 1;
}
.header__top a {
  text-decoration: none;
  color: white;
  transition: var(--trnsition);
}
.header__top a:hover {
  color: var(--clr-blue);
}

header {
  background: url(/image/bg.png);
  background-position: center;
  background-size: cover;
  margin: 0;
  position: relative;
}
header::after {
  content: "";
  background: rgba(4, 22, 52, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.header__main {
  position: relative;
  z-index: 1;
}
.header__main__bg-bluer {
  background: rgba(4, 22, 52, 0.7);
  padding-top: 2em;
}
.header__main__btn {
  color: white;
  border: 1px white solid;
  padding: 0.8em 2.5em;
  margin-top: 0.7em;
  font-size: 1.1rem;
  font-weight: 600;
}
.header__main__btn:hover {
  border: 1px var(--clr-yellow) solid;
  background-color: var(--clr-yellow);
  transition: 500ms ease-in-out;
}
.header__main__donate a {
  padding: 0.8em 2.8em;
}

.header__nav {
  text-transform: uppercase;
  border-top: 1px white solid;
  margin-top: 2em;
}
.header__nav ul {
  padding: 0.5em 0;
}
.header__nav li {
  list-style: none;
  padding: 10px 0;
}
.header__nav a {
  color: white;
  font-family: var(--fnt-secondary);
  border-left: 1px solid white;
  font-size: 0.8rem;
  padding: 8px 10px;
}
.header__nav a:hover {
  color: var(--clr-yellow);
}
.header__nav li:nth-child(1) a {
  border-left: none;
}

.hero__content {
  padding: 80px 0 200px 130px;
  align-items: center;
}
.hero__content h4 {
  color: var(--clr-yellow);
  font-size: 1.8rem;
  padding-bottom: 0.7em;
}
.hero__content h1 {
  font-size: 4rem;
  margin-bottom: 1em;
}
.hero__content a {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: var(--fnt-secondary);
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px 15px;
  color: white;
}
.hero__content a:hover {
  color: black;
  font-weight: bold;
  border: var(--clr-yellow) solid 1px;
  background-color: var(--clr-yellow);
}
.hero__content .btn-call {
  padding: 15px 25px;
  margin-right: 30px;
}

.body__family {
  text-align: center;
}
.body__family h2 {
  padding-bottom: 0.3em;
}
.body__family h4 {
  padding: 1em 0;
}
.body__family p {
  color: #909090;
  font-family: var(--fnt-secondary);
  letter-spacing: 1px;
  padding-bottom: 3em;
  font-size: 25px;
}
.body__family__funeral {
  background-color: var(--clr-blue);
  padding: 80px 66px;
}
.body__family__funeral h4 {
  font-family: var(--fnt-primary);
  font-style: italic;
  font-size: 50px;
  font-weight: 300;
  padding: 10px 0 50px;
  text-align: start;
}
.body__family__funeral p {
  color: white;
  letter-spacing: 0;
  padding-bottom: 30px;
  font-size: 25px;
  letter-spacing: 1px;
}
.body__family__funeral a {
  color: white;
  text-decoration: none;
  position: relative;
}
.body__family__funeral a::after {
  content: "";
  display: block;
  border-top: 1px solid white;
  width: 15%;
  height: 1xp;
  position: absolute;
  left: 130px;
  bottom: 11px;
}
.body__family__funeral a:hover {
  color: var(--clr-yellow);
}
.body__family__quote {
  background: url(/image/bg2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.body__family__quote p {
  font-family: var(--fnt-primary);
  font-style: italic;
  font-size: 30px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  padding: 5em 3em 1em;
}
.body__family__quote p:before {
  content: url("../image/qoute_before.svg");
  position: absolute;
  top: 3.9em;
  left: 41px;
}
.body__family__quote p:after {
  content: url("..//image/quote_after.svg");
  position: absolute;
  right: 3.5em;
  bottom: 2.1em;
}
.body__family__quote span {
  font-size: 25px;
  color: #FFFFFF;
  display: block;
  margin-top: 2em;
  font-family: var(--fnt-secondary);
  font-style: normal;
}
.body__family__quote .qoute__blue {
  background: rgba(4, 22, 52, 0.3);
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 0;
}

.info {
  background: url(../image/white-bg.svg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 15em;
  padding-bottom: 5em;
  margin-top: -7em;
}
.info h4 {
  color: #1A1A26;
  font-style: italic;
  margin-bottom: 2em;
}
.info p {
  color: var(--clr-blue);
  font-size: 25px;
  margin-bottom: 2em;
}
.info a {
  border: 1px solid var(--clr-yellow);
  padding: 0.8em 2.5em;
  color: var(--clr-yellow);
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
.info a:hover {
  background-color: var(--clr-yellow);
  color: white;
}
.info_left {
  padding: 0px 6em 2em 6em;
}
.info__right {
  padding: 0px 1em 0 5em;
  border-left: 2px solid #AFBAC3;
}
.info__right h4 {
  margin-bottom: 2.5em;
}
.info__right a {
  margin-top: 2em;
  display: inline-block;
}

.support {
  background-color: #AFBAC3;
  padding: 8em 5em;
}
.support h4 {
  color: white;
  font-size: 30px;
  padding-bottom: 1.8em;
}
.support p {
  color: white;
  font-size: 25px;
  padding: 2em 0 4em;
  letter-spacing: 1px;
}
.support li {
  list-style: none;
  border-right: 1px solid white;
  position: relative;
}
.support li:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  top: 35;
  transition: 250ms ease-in;
  transform: scaleX(0);
}
.support li:hover::after {
  transform: scaleX(0.5);
}
.support li:nth-last-child(1) {
  border-right: none;
}
.support a {
  text-decoration: none;
  font-family: var(--fnt-secondary);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  padding: 0 2.5em;
}
.support a:hover {
  color: white;
}

.about__us {
  background: url(/image/bg-aboutus.png);
  background-position: center;
  background-size: cover;
  margin: 0;
  position: relative;
  padding: 15em 2em;
}
.about__us::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.about__us h1, .about__us h4, .about__us p {
  position: relative;
  z-index: 1;
}
.about__us p {
  color: #afbac3;
  font-size: 25px;
  font-family: var(--fnt-secondary);
  line-height: 30px;
  padding: 0 5em;
}
.about__us h1 {
  margin-top: 0.8em;
}
.about__us a {
  display: inline-block;
  text-decoration: none;
  color: #afbac3;
  font-family: var(--fnt-secondary);
  font-weight: bold;
  border: 1px solid #afbac3;
  padding: 0.8em 2em;
  margin-top: 3em;
  position: relative;
  z-index: 1;
}
.about__us a:hover {
  border: 1px var(--clr-yellow) solid;
  background-color: var(--clr-yellow);
  transition: 800ms ease-in-out;
  color: white;
}
.about__us__main {
  position: relative;
  z-index: 1;
  padding: 5em 0 2em;
}
.about__us__wrap {
  border-right: 2px solid var(--clr-yellow);
  padding: 0 1.5em;
}
.about__us__wrap p {
  padding: 2em 3em 0;
}
.about__us__wrap h4 {
  font-family: var(--fnt-primary);
  font-style: italic;
}
.about__us__wrap:nth-child(2) p {
  padding-top: 2em;
}
.about__us__wrap:nth-child(1) {
  padding: 0 3em 0 0;
}
.about__us__wrap:nth-child(1) p {
  padding: 2em 0 0;
}
.about__us__wrap:nth-child(3) {
  border-right: none;
}

.donate__online {
  background: url(../image/donate-bg.png) no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  padding: 9em 11em;
}
.donate__online::after {
  content: "";
  background: rgba(4, 22, 52, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.donate__online h4, .donate__online h1, .donate__online a {
  position: relative;
  z-index: 1;
}
.donate__online h4 {
  font-size: 30px;
  font-weight: 600;
}
.donate__online h1 {
  font-size: 80px;
  padding: 0.5em 2.5em 0 0;
}
.donate__online a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-yellow);
  font-family: var(--fnt-secondary);
  font-weight: bold;
  border: 1px solid var(--clr-yellow);
  padding: 0.8em 2em;
  margin-top: 5em;
  position: relative;
  z-index: 1;
}
.donate__online a:hover {
  border: 1px var(--clr-yellow) solid;
  background-color: var(--clr-yellow);
  transition: 300ms ease-in-out;
  color: white;
}

.donate__current {
  background-color: #E2E5E8;
  padding: 12em 10em 3em 5em;
  color: #1a1a26;
}
.donate__current h4 {
  color: #1a1a26;
  font-style: italic;
  font-size: 45px;
  font-family: var(--fnt-primary);
}
.donate__current p {
  font-size: 25px;
  padding-top: 1em;
}
.donate__current a {
  color: #1a1a26;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5em;
  display: block;
  position: relative;
}
.donate__current a:after {
  content: "";
  border-bottom: 2px solid #1a1a26;
  position: absolute;
  top: 0px;
  right: 0;
  left: 150px;
  bottom: 10px;
  width: 110px;
}
.donate__current a:hover {
  color: var(--clr-yellow);
}

.testimonials {
  background: url(/image/testimonial-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 6em 8em;
}
.testimonials h4 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 1em;
}
.testimonials p {
  font-style: italic;
  font-family: var(--fnt-primary);
  color: white;
  font-size: 30px;
  padding: 0 12em 2em;
  position: relative;
}
.testimonials p::after {
  content: url(../image/quote_after.svg);
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 29em;
}
.testimonials p::before {
  content: url(../image/qoute_before.svg);
  position: absolute;
  bottom: 5.8em;
  left: 0;
  right: 32em;
}
.testimonials span {
  display: block;
  padding: 1em 0;
  color: white;
  font-size: 20px;
  padding-bottom: 4em;
}
.testimonials a {
  text-decoration: none;
  text-transform: uppercase;
  color: #afbac3;
  padding: 12px 18px;
  border: solid 1px #afbac3;
  font-weight: bold;
}
.testimonials a:hover {
  border: 1px var(--clr-yellow) solid;
  background-color: var(--clr-yellow);
  transition: 500ms ease-in-out;
  color: white;
}

footer {
  padding: 4em 0;
}
footer h6 {
  font-family: var(--fnt-secondary);
  color: var(--clr-yellow);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
footer li {
  list-style: none;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: bold;
  margin: 0.5em 0;
}
footer .footer__get-in-touch {
  padding: 1em 0;
}
footer .footer__get-in-touch p {
  font-family: var(--fnt-primary);
  font-style: italic;
  font-size: 18px;
}
footer .footer__email-us {
  padding-bottom: 1em;
}
footer .footer__email-us a {
  font-family: var(--fnt-primary);
  font-style: italic;
  text-decoration: none;
  color: black;
}
footer .footer__donate-online {
  display: block;
  margin: 2em 0;
}
footer .footer__donate-online a {
  position: relative;
  text-decoration: none;
  color: #afbac3;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--fnt-secondary);
  border: 1px solid #afbac3;
  padding: 15px 29px;
}
footer .footer__donate-online a:hover {
  color: white;
  background-color: var(--clr-yellow);
  transition: 800ms ease-in-out;
}
footer .footer__donate-online a::after {
  content: url(../image/Facebook.svg);
  position: absolute;
  top: 0;
  left: 13em;
  right: 0;
}
footer .wrap h6 {
  margin-bottom: 2em;
}
footer .wrap a {
  padding: 0.3em 0;
  text-decoration: none;
  color: #1a1a26;
}
footer .wrap a:hover {
  color: var(--clr-yellow);
}

@media screen and (max-width: 1200px) {
  .header__main-top {
    padding-bottom: 2em;
  }

  .header__main__donate, .header__main__contact {
    display: none;
  }

  header {
    position: relative;
  }

  .header__nav {
    background-color: var(--clr-blue);
    border: none;
    position: absolute;
    top: -33px;
    right: 0;
    left: 0;
    transform: translateY(-120%);
    transition: 700ms ease-in-out;
  }
  .header__nav ul {
    display: flex;
    flex-direction: column;
    padding: 3em 0 0 4.7em;
  }
  .header__nav a {
    border: none;
  }

  .header__nav.active {
    display: block;
    transform: translateY(0);
  }

  .header__navbar-toggle div {
    display: block;
    height: 3px;
    width: 27px;
    background-color: white;
    margin: 5px;
  }

  .header__navbar-toggle {
    position: absolute;
    top: 51px;
    right: 60px;
    z-index: 9999;
    cursor: pointer;
  }

  .header__navbar-toggle.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .header__navbar-toggle.is-active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: 250ms ease-in-out;
  }

  .header__navbar-toggle.is-active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: 200ms ease-in-out;
  }

  header {
    background: url(/image/bg.png) no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0;
  }

  .info {
    margin-top: -12em;
  }
  .info_left {
    padding: 0px 4em 8em;
  }
  .info_left h4 {
    margin-bottom: 1em;
  }
  .info_left p {
    padding-bottom: 2em;
  }
  .info__right {
    margin-top: 2em;
    border-left: none;
    border-top: 2px solid #AFBAC3;
    padding: 7em 0px 0px;
    margin: 0 4em;
  }
  .info__right h4 {
    margin-bottom: 1.5em;
  }

  .donate__online {
    width: 98%;
    padding: 5em;
  }
  .donate__online h1 {
    font-size: 50px;
    padding: 0;
    text-align: center;
  }
  .donate__online h4 {
    text-align: center;
    padding: 2em 0;
  }
  .donate__online a {
    display: flex;
    justify-content: center;
  }

  .donate__current {
    width: 98%;
    padding: 5em;
    text-align: center;
  }
  .donate__current h1 {
    font-size: 50px;
    padding: 0;
    text-align: center;
  }
  .donate__current h4 {
    padding-bottom: 1em;
  }
  .donate__current h4, .donate__current p {
    text-align: center;
  }

  .testimonials {
    padding: 3em;
  }
  .testimonials h1 {
    font-size: 50px;
  }
  .testimonials p {
    padding: 1em;
    font-size: 1.1rem;
  }
  .testimonials p:before {
    bottom: 3.8em;
    right: 39em;
  }
  .testimonials p:after {
    top: 4.8em;
    left: 31em;
  }
}
@media screen and (max-width: 500px) {
  .hero__content {
    padding: 85px 27px;
    align-items: center;
    text-align: center;
  }
  .hero__content h1 {
    font-size: 3rem;
    margin-bottom: 1em;
  }
  .hero__content h4 {
    font-size: 1rem;
  }

  .body__family {
    padding: 2em;
  }
  .body__family h4 {
    font-size: 30px;
    padding: 0.8em 0;
    font-weight: bold;
  }
  .body__family h2 {
    font-size: 50px;
    font-weight: bold;
  }
  .body__family p {
    font-size: 18px;
  }
  .body__family__funeral {
    padding: 45px 31px;
  }
  .body__family__funeral h4 {
    font-weight: normal;
  }
  .body__family__quote p {
    padding: 5em 2em;
    line-height: 30px;
  }
  .body__family__quote p::after {
    right: 2.5em;
    bottom: 6.1em;
  }
  .body__family__quote p::before {
    top: 3.9em;
    left: 12px;
  }

  .support {
    padding: 8em 2em;
  }
  .support ul {
    flex-direction: column;
    padding: 0;
  }
  .support ul li {
    border-right: none;
    padding: 1em;
  }
  .support ul li:hover {
    border: none;
  }
  .support ul a {
    background-color: #041636;
    padding: 1em;
  }
  .support ul a:hover {
    background-color: var(--clr-yellow);
  }

  .about__us {
    background: url(../image/about-usmobile.png);
    background-position: bottom;
    background-size: cover;
    position: relative;
    padding: 5em 1em;
  }
  .about__us p {
    padding: 0 2em;
  }
  .about__us a {
    margin: 0;
  }
  .about__us h1 {
    font-size: 50px;
  }
  .about__us h4 {
    font-size: 30px;
  }
  .about__us__main {
    flex-direction: column;
    padding: 9em 0 5em;
  }
  .about__us__wrap {
    border-right: none;
    border-top: 1px solid var(--clr-yellow);
    padding: 3em 0 !important;
  }
  .about__us__wrap p {
    padding: 2em 0;
  }
}/*# sourceMappingURL=mycss.css.map */